<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Task Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="taskName">
            </div>
 
            <div class="form-group">
              <label>Task Description</label>
              <input type="text"
                     class="form-control"
                     formControlName="taskDescription">
            </div>
          </fieldset>
 
          <div class="form-group">
            <label>Assigned To</label>
            <input type="email"
                   class="form-control"
                   formControlName="assignedTo">
          </div>
          

          <div class="form-group">
            <label>Assigned By</label>
            <input type="email"
                   class="form-control"
                   formControlName="assignedBy">
          </div>
 
          <button type="submit" class="btn btn-primary"  [disabled]="!taskForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectTaskPage()">Cancel</button>
          <pre>{{taskForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
</div>